$a :rgb(88, 156, 0);


header {
  width: 100%;
  height: 100px;
  background-color: $a;
  @include center();
  nav {
    background-color: red;
    width: 70%;
    ul {
     @extend nav;
      @include center();

      li {
        list-style: none;
        a {
          text-decoration: none;
          color: white;
          font-size: 30px;
        }
      }
    }
  }
}
