/* .box-one, .box-two{
    width: 100px;
    height: 100px;
    display: inline-block;
}

.box-one{
    background-color: red;
}
.box-two{
    background-color: green;
}
button{
    display: block;
} */