.con{
  display: grid;
  // grid-template-columns: auto auto auto auto auto;
  // grid-template-rows: 300px 200px;
  grid: 150px  150px 150px/ auto auto;
  row-gap: 10px;
  column-gap: 30px;
      .box{
        background-color: black;
        color: #fff;
        font-size: 50px;
      }  
}